@font-face {
    font-family: 'Lazy Dog';
    src: url('../font/lazy_dog.ttf');
}

.root {
    -fx-font-family: 'Lazy Dog';
    -fx-font-size: 20px;
    -fx-background-color: #FFF8CA;
    -fx-font-weight: bold;
}

.section-label {
    -fx-font-size: 24px;
}

.button {
    -fx-background-color: transparent;
}

.check-box {
    -fx-padding: 5px;
}

.check-box .box {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 2px;
}

.check-box:hover {
    -fx-background-color: #00BBE3;
    -fx-border-radius: 200px;
}

.check-box:pressed {
    -fx-background-color: #00A8D2;
    -fx-border-radius: 200px;
}

.button:hover {
    -fx-background-color: #00BBE3;
    -fx-border-radius: 200px;
}

.button:pressed {
    -fx-background-color: #00A8D2;
    -fx-border-radius: 200px;
}

.transparent-scroll-pane {
    -fx-background-color: transparent;
}

.transparent-scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.title {
    -fx-font-size: 40px;
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-column {
    -fx-border-color: transparent;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .scroll-bar:horizontal * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #FFF8CA;
    -fx-border-color: transparent;
}

.table-row-cell {
    -fx-background-color: transparent;
}